In [2]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
moviesdf = pd.read_csv('movies.csv')
ratingsdf = pd.read_csv('ratings.csv')
moviesdf.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
# removing the year from the title column and placing it in its own year column using extract
moviesdf['year'] = moviesdf.title.str.extract('(\(\d\d\d\d\))',expand = False)
moviesdf['year'] = moviesdf.year.str.extract('(\d\d\d\d)',expand = False)
moviesdf['title'] = moviesdf.title.str.replace('(\(\d\d\d\d\))', '')
moviesdf['title'] = moviesdf['title'].apply(lambda x: x.strip())
moviesdf.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [13]:
moviesdf = moviesdf.drop('genres', 1)
moviesdf.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [14]:
ratingsdf.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [15]:
ratingsdf = ratingsdf.drop('timestamp', 1)
ratingsdf.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

### Collaborative Filtering

Also called User-User Filtering which uses other users to recommend items to the input user. It finds users that have similar preferences and opinions as the input and then recommends items that they have liked  to the input. Persona correlation is one of the methods that can be used to find similar users. The process is as follows :


- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbors
- Get the watched movie record of the user for each neighbor
- Calculate the similarity score using some method
- Recommend the items with the highest score

In [16]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [ ]:
inputId = moviesdf[moviesdf['title']]